*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    display: flex;
    flex-flow: row wrap;
    /*flex-direction: row nowrap;
    flex-wrap: nowrap;*/
    margin: 200px auto;
    max-width: 800px;
    height: 200px;
    background: #4b0071;
}

.child{
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
    line-height: 100px;
    background: #00aca3;
}
.child:nth-child(1){
    order: 3;
}
.child:nth-child(2){
    order: 2;
}
.child:nth-child(3){
    order: 1;
}
.child:nth-child(4){
    order: 4;
}